# Ignore macOS system files
.DS_Store

# Ignore environment files
.env
venv/
.dbenv/
queryquest_django_app/problems/__pycache__
queryquest_django_app/QueryQuest_Group4/__pycache__
queryquest_django_app/submissions/__pycache__
queryquest_django_app/submissions/migrations/__pycache__
queryquest_django_app/users/__pycache__
queryquest_django_app/users/migrations/__pycache__
queryquest_django_app/problems/migrations/__pycache__
/queryquest_django_app/feedback/__pycache__
/queryquest_django_app/feedback/migrations/__pycache__
/queryquest_django_app/progress/__pycache__
/queryquest_django_app/progress/migrations/__pycache__
/queryquest_django_app/usermessages/__pycache__
/queryquest_django_app/usermessages/migrations/__pycache__
